.imageDetail__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.imageDetail__title {
  width: 70% !important; 
  font-size: 30px !important;
}

.imageDetail__caption {
  width: 80% !important;
}

.imageDetail__buttons {
  display: flex;
}

.imageDetail__buttons > * {
  margin: 10px;
}